awscli
boto3
bs4
celery
celery[redis]
colorlog
coverage
flake8<=3.4.1
future
mock
pep8>=1.7.1
pycodestyle<=2.3.1
pylint
recommonmark
redis<3
sphinx
sphinx-autobuild
sphinx_rtd_theme
tabulate
unittest2
urllib3<=1.23
ujson
